<div class="content-wrapper">
  <div class="search-bar">
    <input type="text" placeholder="Search teams" value="" />

    <div>
      <img src="./assets/add.png" alt="" srcset="" />
      <p>Add Teams</p>
    </div>
  </div>

  <div class="bar-wrapper">
    <hr />
  </div>

  <div class="filter-bar">
    <p>10 Teams</p>
    <div>
      <p>Sort By:</p>
      <p>&nbsp; Recently Added</p>
    </div>
  </div>

  <div class="team-group">
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>

      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>

    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>

    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>

    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>

    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>

    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
    <div>
      <div class="rcb-img">
        <img src="./assets/rcb.png" alt="" srcset="" />
      </div>
      <p>RCB</p>
      <p>Royal Challengers Bangalore</p>
      <p>Players - 12</p>
    </div>
  </div>

  <div class="refresh-wrapper">
    <img src="./assets/refresh.png" alt="" srcset="" />
    <p>Refresh Team Data</p>
  </div>
</div>
